@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/russo-one-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/russo-one-v14-latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --navy: rgba(12, 12, 74, 1);
  --dark-navy: rgba(6, 7, 38, 1);
  --blue: rgba(63, 94, 251, 1);
  --dark-blue: rgba(17, 43, 175, 1);
  --pink: rgba(213, 84, 213, 1);
  --pink2: rgba(213, 84, 213, 0.7);
}

body {
  background: var(--dark-navy);
  background: radial-gradient(circle, var(--navy) 0%, var(--dark-navy) 100%);
}

* {
  font-family: 'Russo One';
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#home .div {
  width: 100%;
}

#home h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 50px;
  color: var(--pink);
}

#home h1 span.outline {
  text-shadow: 1px 1px 2px var(--navy), 0 0 1em var(--blue), 0 0 0.2em var(--blue);
}